# Final Capstone Project for IBM Data Science Course

By Diego Kaleb Samano Rodriguez\
On August 24, 2020\
At Culiacan, Sinaloa, Mexico

## Description of the problem and background:
For this final project I chose to use the sample data set provided by the course which contains various registries (194,673 in total) of car accidentes that ocurred in the city of Seattle, Washington between the years 2004 and 2020.
\
\
Seattle is a big city located in the Northwestern part of the United States, the Seattle Metropolitan Area has a population of 3,263,497 habitants. The city has gained the reputation of 'Rain City' because the of the constant precipitation it has all year long. This climatological characteristic and its population size makes the city a very interesting study object for car accidents.
\
\
The goal for this project is to utilize and put into practice the knowledges obtained throughout the course in order to develop a supervised machine learning model(s) that will try predict the severity of the car accident taking into account the most meaningful values of the different attributes that each accident registry has in the dataset, this in order to find a direct or indirect correlation between them and the severity value.

## Data description:
As it was mentioned before, the dataset used contains a total of 194673 registries of car accidents that ocurred in the city of Seattle between the years 2004 and 2020. In this section we will analyze and study the data in order to get a better understanding of the problem.

The first thing we need to do is to import the initial required libraries in order to read and study the data. We import the Pandas and Numpy and Pandas libraries.

In [85]:
#import Pandas and NumPy libraries
import pandas as pd
import numpy as np

Using the Pandas library we read the data csv and assign it to the variable data.

In [131]:
data = pd.read_csv('Data-Collisions.csv')

/Users/kalebsamano/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We verify the data the csv file was succesfully read.

In [132]:
data.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

The code below displays us the dimentions of our data frame, it has a total of 38 columns and 194673 rows.

In [133]:
data.shape

(194673, 38)

Now we obtain the names of the columns of the dataset, as we can see some names are difficult to interpret so we will rename and drop the ones that will not be useful to product severity.

In [134]:
#total number of columns in data frame
data.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [135]:
#drop unnecessary columns
data.drop(['INCKEY','COLDETKEY','REPORTNO','INTKEY','EXCEPTRSNCODE','EXCEPTRSNDESC',
           'INCDTTM','PEDROWNOTGRNT','SDOTCOLNUM','SEGLANEKEY','CROSSWALKKEY',
           'SEVERITYCODE.1','PEDCOUNT','PEDCYLCOUNT','PEDROWNOTGRNT','SDOTCOLNUM','INATTENTIONIND'], axis=1, inplace=True)

In [136]:
#verify that columns were dropped
data.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'STATUS', 'ADDRTYPE', 'LOCATION',
       'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT', 'VEHCOUNT', 'INCDATE',
       'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'UNDERINFL', 'WEATHER',
       'ROADCOND', 'LIGHTCOND', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'HITPARKEDCAR'],
      dtype='object')

In [137]:
#data frame new shape
data.shape

(194673, 23)

Now we rename the columns we have left in the dataframe

In [138]:
data.head()

,SEVERITYCODE,X,Y,OBJECTID,STATUS,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,...,SDOT_COLCODE,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,-122.323148,47.703140,1,Matched,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,2,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Overcast,Wet,Daylight,NaN,10,Entering at angle,N
1,1,-122.347294,47.647172,2,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,2,...,16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",0,Raining,Wet,Dark - Street Lights On,NaN,11,From same direction - both going straight - bo...,N
2,1,-122.334540,47.607871,3,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,4,...,14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",0,Overcast,Dry,Daylight,NaN,32,One parked--one moving,N
3,1,-122.334803,47.604803,4,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,3,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry,Daylight,NaN,23,From same direction - all others,N
4,2,-122.306426,47.545739,5,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,2,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",0,Raining,Wet,Daylight,NaN,10,Entering at angle,N

In [139]:
#rename columns
data.rename(columns = {'OBJECTID':'object_ID','STATUS':'status','ADDRTYPE':'adress_type',
                       'LOCATION':'location', 'SEVERITYDESC': 'severity_description', 
                       'COLLISIONTYPE':'collision_type', 'PERSONCOUNT':'person_count', 
                       'VEHCOUNT':'vehicle_count', 'INCDATE':'date', 
                       'JUNCTIONTYPE': 'junction_type', 'SDOT_COLCODE':'crash_type_code', 
                       'SDOT_COLDESC':'crash_type', 'UNDERINFL':'tire_inflated',
                       'WEATHER':'weather', 'ROADCOND':'road_condition', 
                       'LIGHTCOND': 'streetlight_condition', 'SPEEDING': 'speeding', 
                       'ST_COLCODE':'crash_desc_code', 'ST_COLDESC':'crash_desc', 
                       'HITPARKEDCAR':'parked_car_crash'}, inplace = True)

In [140]:
#verify name changes
data.columns

Index(['SEVERITYCODE', 'X', 'Y', 'object_ID', 'status', 'adress_type',
       'location', 'severity_description', 'collision_type', 'person_count',
       'vehicle_count', 'date', 'junction_type', 'crash_type_code',
       'crash_type', 'tire_inflated', 'weather', 'road_condition',
       'streetlight_condition', 'speeding', 'crash_desc_code', 'crash_desc',
       'parked_car_crash'],
      dtype='object')

To understand better the data frame here is a brief explanation /description of a sample registry in our data.

**Sample Registry**

SEVERITYCODE: 1 or 2\
X: x coordinate (latitude)\
Y: y coordinate (longitude)\
object_ID: id of every accident ex. 172\
status: matched or unmatched\
adress_type: intersection, block, alley etc.\
location: street where accident happened\
severity_description: brief description of crash\
collison_type: type of crash, different values\
person_count: amount of people involved\
vehicle_count:amount of vehicles involved\
date: date of incident\
juntion_type: type of juntion\
crash_type_code: crash id according to type\
crash_type: description of the above attribute\
tire_inflated: tires where inflated or not\
weather: weather of accident\
road_condition: condition of road\
streetlight_condition: condition of street lights near accident\
speeding: involved cars were speeding\
crash_desc_code: code of crash according to description\
crash_desc: description of above attribute\
parked_car_crash: parked cars were crashed in accident\

Display of the different data types in the data frame

In [142]:
data.dtypes

SEVERITYCODE               int64
X                        float64
Y                        float64
object_ID                  int64
status                    object
adress_type               object
location                  object
severity_description      object
collision_type            object
person_count               int64
vehicle_count              int64
date                      object
junction_type             object
crash_type_code            int64
crash_type                object
tire_inflated             object
weather                   object
road_condition            object
streetlight_condition     object
speeding                  object
crash_desc_code           object
crash_desc                object
parked_car_crash          object
dtype: object